/* Universal Styles */

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

a {
  color: seashell;
  text-decoration: underline;
}

nav span {
  padding: 20px 10px;
}

h2, h3, h4 {
    margin: 0;
    padding: 10px;
}

h2, h5 {
  display: block;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Header */

header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 69px;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid seashell;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
}

.logo img {
  height: 50px;
}

header nav {
  padding-right: 10px;
}

/* Main Content Container */

.main {
    padding-top: 60px;
    width: 1200px;
    margin: auto;
}

/* Mission */

#mission {
  background-image: url("../../resources/images/img-mission-background.jpg");
  height: 700px;
  padding-top: 70px;
}

#mission .content {
    background-color: black;
    width: 100%;
    margin: auto;
}

/* Featured Tea */

#featured-tea {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}

.item img {
  height: 200px;
  width: 300px;
  margin: 10px;
}

/* Locations */

#locations {
  background-image: url("../../resources/images/img-locations-background.jpg");
  height: 500px;
  padding-top: 70px;
}

#locations .location {
    background-color: black;
    width: 300px;
    margin: 15px 20px;
}

/* Contact */

#contact {
  height: 200px;
}

/* Footer */

footer {
  text-align: left;
  margin-left: 20px;
}
